:root{
    --main-color:#63b870;
    --sec-color:#112d58;
    --third-color:#7d7987;
}

*{
    font-family: 'chivo' , sans-serif;
}

.tc-main{
    color: var(--main-color);
}

.tc-sec{
    color: var(--sec-color);
}

.tc-third{
    color: var(--third-color);
}

/* css navbar */


.navbar-brand img{
    width: 50px;
}

.navbar-toggler img{
    width: 30px;
}

.navbar-brand {
    color: var(--main-color);
}

.navbar-brand:hover{
    color: var(--main-color);
}

.navbar-zou{
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed top;
    height: 70px;
}

.navbar-zou .nav-link{
    color: var(--third-color);
    border-bottom: solid 2px transparent;
}

.navbar-zou .nav-link:hover{
    border-bottom: solid 2px var(--main-color);
    color: var(--third-color);
}

.navbar-zou .nav-link:focus{
    border-bottom: solid 2px var(--main-color);
    color: var(--third-color);
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.show{
    background-color: rgba(255, 255, 255, 0.95);
    width: 100% !important;
    padding-left: 10px;
    padding-bottom: 10px;
}


.btn-sign {
    background-color: #112d58e1;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-sign:hover{
    transform: scale(1.02);
    transition: 0.8;
}


/* css header */

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('./img/hero-header.png');
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
}

.fs-header{
    font-size: 50px;
}

.btn-invest{
    background-color:var(--main-color) ;
    border-color: var(--main-color);
    color: white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
}

.btn-invest:hover{
    transform: scale(1.02);
    transition: 0.8;
}

@media screen and (max-width: 760px){
    .masthead{
        background-image: url('./img/hero-bg.png');
        background-position: top right;
        background-size: contain;
    }
}

/* css foglia + sezione opportunità */

.opportunity-section{
    min-height: 500px;
    position: relative;
}

.opportunity-section .opportunity-bg{
    position: absolute;
    top: -300px;
    z-index:-100;
}

.card-opportunity{
    background-color: white;
    height: 100%;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
}

.card-opportunity-text{
    padding-right: 40;
}

.oppo-icon{
    font-size: 50px;
}

.card-opportunity:hover{
    background-color: #D9EEDA;
    box-shadow: none;
    transform: scale(1.02);
    transition: 0.4s;
}

@media screen and (max-width:991px){
    .card-opportunity{
        background-color: white;
        height: 100%;
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15); 
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
        text-align: center;
    }
    
}

/* css invest */

.invest-card-1{
    background-image: url(./img/short-terms.png);
    background-repeat:center no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.invest-card-2{
    background-image: url(./img/fully-funded.png);
    background-image:center no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.invest-card-inner{
    /* background-color: red; */
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 60px;
    background: linear-gradient(181deg, rgba(113,110,110,0) 35%, rgba(30,45,70,0.93) 94.07%);   
}

.card-line-white{
    border-bottom: solid 1px white;
    width: 50px;
}

.btn-oppo{
    border-radius: 10px;
    background-color: white;
    color: var(--main-color);
    padding: 10px 30px;
    border: none;
}

.btn-oppo:hover{
    background-color: var(--main-color);
    color: white;
}

/* css how works */

.how-works{
    background-image: url(./img/how-it-works.png); 
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.nav-works{
    position: relative;
}

.nav-works .nav-link{
    background-color: var(--main-color) !important;
    border-radius: 100% !important;
    border: solid 2px white !important;
    width: 55px;
    height: 55px;
    color: white;
    font-weight: 700;
    position: relative;
    z-index: 1010;
}
.nav-works .nav-link:hover{
    color: white;
}

.nav-works::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
    position: absolute;
    top: 27px;
    z-index: 1000;
}

.tab-content>.tab-pane{
    background-color: transparent;
}

.nav-works .nav-link.active{
    color: var(--main-color) !important;
    background-color: white !important;
}

/* Testimonial css */

.testimonial-bg{
    background-image: url(./img/testimonial-bg.png);
    background-repeat:no-repeat;
    background-size: 120px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.img-user{
    width: 50px;
}

.card-invest{
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
    padding: 30px 30px;
    word-wrap: break-word;
    height: 90%;
}

.carousel-harrow{
    font-size: 20px;
    color: white;
    background-color: var(--main-color);
    border-radius: 100%;
    padding: 8px;
    position: absolute;
    left: 0%;
}

.carousel-control-next{
    left: 78% !important;
}

.carousel-control-prev{
    left: calc(75% - 25px) !important;
}

/* footer css */

.future-card{
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
    padding: 50px 80px;
}

.bg-footer{
    height: 100%;
    min-height: 500px;
    background-image: url('./img/footer-bg.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.card-footer-zou{
    color: white;
    background-color: var(--main-color);
    padding: 30px;
    border-radius: 7px;
}

.card-footer-zou-btn{
    background-color: white;
    color: var(--main-color);
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.card-footer-zou-btn:hover{
    transform: scale(1.02);
    transition: 0.8;
}


.footer-list, .footer-list:hover{
    text-decoration: none;
    color: var(--third-color);
}

.border-top{
    border-top: solid 2px;
}

.logo-footer{
    width: 50px;
}